html {
  background: url(wood.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  text-align: center;
  font-family: Palatino, serif;
}

#board,
#board td {
  border: 1px solid black;
}

#board {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-spacing: 0;
  border-collapse: collapse;
}

#board td.player_1 {
  background-color: red;
}

#board td.player_2 {
  background-color: blue;
}

#controls {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background-color: lightgray;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}