[submodule "android"]
	path = android
	url = git@github.com:martinschneider/juvavum-android.git
[submodule "java/juvavum-rest/halodb"]
	path = java/juvavum-rest/halodb
	url = git@github.com:martinschneider/HaloDB.git
